tempInterval2File/NiFi_Flowtemporal2nd.json
{"flowContents":{"identifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d","instanceIdentifier":"fe3bab3f-018c-1000-f1a9-ca451d549087","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","instanceIdentifier":"041646ba-30a4-36db-5e0b-d272ab398992","name":"NGSI-LD continuous Temporal Query ","comments":"","position":{"x":606.0,"y":967.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","instanceIdentifier":"4af49b75-f427-35fd-ff7f-e2f040910e3a","name":"GenerateFlowFile","comments":"","position":{"x":128.0,"y":0.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1800 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"3a35ae06-e813-3e9c-a06f-35e859e6917b","instanceIdentifier":"964819ce-30c0-3772-5b2b-386232b3727c","name":"SplitContent","comments":"","position":{"x":440.0,"y":320.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","instanceIdentifier":"369f7ae6-7e46-357d-8f61-4a2b237cda53","name":"ExtractText","comments":"","position":{"x":904.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","callType":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"callType":{"name":"callType","displayName":"callType","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"72d0db0d-c388-3ad8-a5eb-d22903025c21","instanceIdentifier":"163248e1-738a-3481-2166-c10b7dab6b9f","name":"Get Temporal Entities","comments":"","position":{"x":1224.0,"y":336.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/temporal/entities?type=${callType}&timerel=after&timeAt=${now():minus(1800000):format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}&timeproperty=modifiedAt","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"inputPorts":[],"outputPorts":[{"identifier":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","instanceIdentifier":"8ffae425-78ab-379c-0d8c-b4f5abcc604b","name":"Temporal Entities","position":{"x":1359.0,"y":640.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"connections":[{"identifier":"ec2bac80-c735-3cc0-b25b-c604bee1f665","instanceIdentifier":"6e28e86c-e2be-3065-db74-b52be5a2ef09","name":"","source":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"964819ce-30c0-3772-5b2b-386232b3727c"},"destination":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"369f7ae6-7e46-357d-8f61-4a2b237cda53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"9f89d7db-43e4-3c3c-92a3-92073c43e0a2","instanceIdentifier":"b0899b3e-860d-3d97-82cf-2e517e3a094f","name":"","source":{"id":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4af49b75-f427-35fd-ff7f-e2f040910e3a"},"destination":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"964819ce-30c0-3772-5b2b-386232b3727c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"8a3b5d07-1c05-32db-af76-450a23ad8821","instanceIdentifier":"2635a7b6-bc10-34de-bcf8-3cdfb4cfe3f1","name":"","source":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"369f7ae6-7e46-357d-8f61-4a2b237cda53"},"destination":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"163248e1-738a-3481-2166-c10b7dab6b9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"5fb243ff-018c-3a57-bdf2-c0446fbb84f3","instanceIdentifier":"9f668c8e-8736-306d-57ff-49f3218ec48c","name":"","source":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"163248e1-738a-3481-2166-c10b7dab6b9f"},"destination":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"8ffae425-78ab-379c-0d8c-b4f5abcc604b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"}],"remoteProcessGroups":[],"processors":[{"identifier":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","instanceIdentifier":"0916a00a-d37b-3297-44b5-66a6d80cce1f","name":"Apply ID mapping","comments":"","position":{"x":2120.0,"y":808.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport csv\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass ReplaceIds(StreamCallback):\n  \n  mapping = {}\n  \n  def __init__(self):\n    if os.path.isfile('/home/nifi/mapping.csv'):\n      log.warn('found mapping file')\n      with open('/home/nifi/mapping.csv') as csvfile:\n        readFile = csv.reader(csvfile, delimiter=';')\n        for row in readFile:\n          log.warn(str(row))\n          if row[0] in self.mapping:\n            self.mapping[row[0]].append([row[1], row[2]])\n          else:\n            self.mapping[row[0]] = [[row[1], row[2]]]\n      log.warn(str(self.mapping))\n        \n  def cleanValue(self, value):\n    log.warn('cleaning value')\n    log.warn('value type')\n    log.warn(str(type(value)))\n    if type(value) == str or type(value) == unicode:\n      log.warn('value is str')\n      value = value.replace(':', '_').replace('@', '_').replace('?', '_').replace('&', '_').replace('/', '_')\n    log.warn(str(value))\n    return value\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    if type(entities) != list:\n      entities = [entities]\n    mapping = self.mapping;\n    log.warn(str(mapping))\n    for entity in entities:\n      for key, value in mapping.items():\n        indexToCheck = []  \n        splittedKey = key.split('/')\n        for split in splittedKey:\n          toCheck = entity\n          for i in indexToCheck:\n            toCheck = toCheck[i]\n          if split.isnumeric():\n            log.warn('split is numeric')\n            log.warn(split)\n            split = int(split)\n          if type(toCheck) == dict:\n            if split in toCheck.keys():\n              indexToCheck.append(split)\n              tmp = toCheck[split]\n              if type(tmp) == dict and 'type' in tmp.keys():\n                if tmp['type'] == 'Property':\n                  indexToCheck.append('value')\n                elif tmp['type'] == 'Relationship':\n                  indexToCheck.append('object')\n            else:\n              indexToCheck = []\n              break\n          elif type(toCheck) == list and type(split) == int:\n            if len(toCheck) > split:\n              indexToCheck.append(split)\n            else:\n              indexToCheck = []\n              break\n          else:\n            indexToCheck = []\n            break\n        if len(indexToCheck) > 0:\n          toCheck = entity\n          length = len(indexToCheck)\n          log.warn('index to check')\n          log.warn(str(indexToCheck))\n          log.warn('value')\n          log.warn(str(value))\n          for mappings in value:\n            log.warn('mappings')\n            log.warn(str(mappings))\n            found = False\n            for i in range(length):\n              log.warn('i')\n              log.warn(str(i))\n              index = indexToCheck[i]\n              if i == length - 1:\n                log.warn('setting value')\n                if toCheck[index] == mappings[0]:\n                  found = True\n                  if mappings[1] != '':\n                    toCheck[index] = mappings[1]\n                  else:\n                    toCheck[index] = self.cleanValue(toCheck[index])\n                elif mappings[0] == '':\n                  toCheck[index] = self.cleanValue(toCheck[index])\n              else:\n                toCheck = toCheck[index]\n            if found:\n              break\n    log.warn('returning')\n    log.warn(json.dumps(entities, indent=4))\n    outputStream.write(bytearray(json.dumps(entities, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n  log.warn('asdasdasdasdasd')\n  flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  log.warn('asdasdasdasdasd')\n#  try:\n#  log.warn('asdasdasdasdasd')\n  tmp = ReplaceIds()\n  flowFile = session.write(flowFile, tmp)\n#  log.warn('asdasdasdasdasd')\n#  log.warn('asdasdasdasdasd')\n  flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n  session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"d83461a2-4bfa-366b-a557-3d03db37a25e","instanceIdentifier":"3708da14-1612-30fc-0379-ad1d75c88841","name":"LogMessage","comments":"","position":{"x":1118.0,"y":959.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"c4f7a560-0d0d-3536-a195-0928f3ac2365","instanceIdentifier":"40acdc4b-22a7-387a-1790-3e2008693f07","name":"Make ND","comments":"","position":{"x":3407.717950590265,"y":719.738274311672},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    outputStream.write(bytearray(text.replace(\"@@@@@\", \"\\n\").encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","instanceIdentifier":"d70fbd1f-a06a-3b88-2af3-b5c3ab93fea1","name":"Get Single Entities","comments":"","position":{"x":1670.0,"y":1031.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass TransformJSON(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entity = json.loads(text)\n    template = {'id': entity['id'], 'type': entity['type']}\n    tmpList = []\n    for attrsKey, attrsValue in entity.items():\n      if attrsKey in ['id', 'type', 'modifiedAt', 'createdAt', 'observedAt']:\n        continue\n      if type(attrsValue) == dict and 'type' in attrsValue.keys():\n        attrsValue = [attrsValue]\n      if type(attrsValue) != list:\n        continue\n      for i in range(len(attrsValue)):\n        if len(tmpList) == i:\n          tmpEntity = template.copy()\n          tmpList.append(tmpEntity)\n        else:\n          tmpEntity = tmpList[i]\n        if type(attrsValue) == dict:\n          tmpEntity[attrsKey] = attrsValue\n        else:\n          tmpEntity[attrsKey] = attrsValue[i]\n        if 'observedAt' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['observedAt']\n        if 'instanceId' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['instanceId']\n    outputStream.write(bytearray(json.dumps(tmpList, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n    flowFile = session.write(flowFile, TransformJSON())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"02135b05-548b-37f2-b5e2-5432f2fc1cac","instanceIdentifier":"c427a133-e244-3846-7edc-84bbd782ddb0","name":"ExecuteScript","comments":"","position":{"x":2771.5,"y":1015.75},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      result.extend(entity)\n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","instanceIdentifier":"dde1b310-ca00-30c9-e13a-0f32e941c48e","name":"MergeContent","comments":"","position":{"x":2286.0,"y":1370.5},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"100 KB","Maximum number of Bins":"10","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"180 sec","Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","instanceIdentifier":"5638a960-63d5-3da0-0365-eb7cdf7492d0","name":"SplitJson","comments":"","position":{"x":1086.0,"y":1215.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","instanceIdentifier":"e60810bb-839a-39df-a460-c6c0c80f7198","name":"SplitJson","comments":"","position":{"x":2280.0,"y":448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"67dc7b8e-46c2-396a-a160-c6e0694175ad","instanceIdentifier":"871154b2-fe77-3b1f-5174-8cf7df8e9308","name":"MergeContent","comments":"","position":{"x":2808.0,"y":608.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":"@@@@@","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"4546e1db-11b6-351e-83ef-44da3e693086","instanceIdentifier":"24fdc019-3e04-3058-b3df-35b7c98f1eee","name":"PutFile","comments":"","position":{"x":3392.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/download","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","instanceIdentifier":"58109934-d101-3890-71fd-0e3ade33231f","name":"NGSI-LD to HL7 FHIR","comments":"","position":{"x":2080.0,"y":992.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  forceArray = []\n  def __init__(self):\n    forceArrayStr = os.environ.get('FORCE_ARRAY', '')\n    self.forceArray = forceArrayStr.split(',')\n\n  def cleanKeys(self, subTmp):\n    if type(subTmp) == list:\n      result = []\n      for i in subTmp:\n        result.append(self.cleanKeys(subTmp))\n      return result\n    elif type(subTmp) == dict:\n      result = {}\n      for key, value in subTmp.items():\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        result[key] = self.cleanKeys(value)\n      return result\n    else:\n      return subTmp\n\n  def getAttribute(self, value, attribKey):\n    log.warn('attrib key: ' + attribKey)\n    log.warn('value: ' + str(value))\n    if type(value) == list:\n      result = []\n      for entry in value:\n        subTmp = self.getAttribute(entry, attribKey)\n        if subTmp:\n          result.append(subTmp)\n    elif type(value) == dict:\n      result = {}\n      for key, value in value.items():\n        log.warn('sub key: ' + key)\n        if not value:\n          log.warn('value is none')  \n        else:\n          log.warn('value: ' + str(value)) \n        if key in ['type', 'createdAt', 'observedAt', 'modifiedAt']:\n          log.warn('continue type ca oa ma')\n          continue\n        if key in ['value', 'object']:\n          log.warn('value found')\n          result['value'] = value\n        else:\n          log.warn('else ')\n          subTmp = self.getAttribute(value, key)\n          if subTmp:\n            result[key] = subTmp\n      if 'value' not in result.keys():\n        log.warn('value not in result')\n        log.warn(str(result))\n        return None\n      if len(result) == 1:\n        result = result['value']\n      else:\n        if type(result['value']) == list:\n          tmp = result['value']\n          del result['value']\n          tmp.append(result)\n          result = tmp\n        elif type(result['value']) == dict:\n          tmp = result['value']\n          del result['value']\n          tmp.update(result)\n          result = tmp\n    else:\n      result = value\n    if attribKey in self.forceArray and type(result) != list:\n      result = [result]\n    return result\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      newEntity = {}\n      if 'resourceType' not in entity.keys():\n        entity['resourceType'] = {'type': 'Property', 'value': entity['type']}\n      for key, value in entity.items():\n        if key in ['id']:\n          newEntity[key] = value\n          continue\n        if key in ['observedAt', 'modifiedAt', 'createdAt', 'type']:\n          continue\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        log.warn('calling from entity root with key ' + key)\n        subTmp = self.getAttribute(value, key)\n        if subTmp:\n          log.warn('before clean')\n          log.warn(str(subTmp))\n          subTmp = self.cleanKeys(subTmp)\n          log.warn('after clean')\n          log.warn(str(subTmp))\n          newEntity[key] = subTmp\n      result.append(newEntity)  \n        \n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"97865dec-8d71-32be-a945-079949480b3e","instanceIdentifier":"04efff67-1e61-3341-563d-86469361e654","name":"","source":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"MergeContent","comments":"","instanceIdentifier":"871154b2-fe77-3b1f-5174-8cf7df8e9308"},"destination":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Make ND","comments":"","instanceIdentifier":"40acdc4b-22a7-387a-1790-3e2008693f07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"e1ebafe5-9639-32a8-a7f6-7431948a7e40","instanceIdentifier":"8ff6e298-85d4-36aa-7976-5584d56a6775","name":"","source":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"8ffae425-78ab-379c-0d8c-b4f5abcc604b"},"destination":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"SplitJson","comments":"","instanceIdentifier":"5638a960-63d5-3da0-0365-eb7cdf7492d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"57503fba-3217-3582-993f-83fcea78d73f","instanceIdentifier":"0d1109cb-0df6-3957-4b1d-0a99a9bb9d7a","name":"","source":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"SplitJson","comments":"","instanceIdentifier":"e60810bb-839a-39df-a460-c6c0c80f7198"},"destination":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"MergeContent","comments":"","instanceIdentifier":"871154b2-fe77-3b1f-5174-8cf7df8e9308"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"44914c43-a3f5-3677-aaf3-fbd262635323","instanceIdentifier":"d802a738-acf3-335e-f541-8239feef8c74","name":"","source":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"58109934-d101-3890-71fd-0e3ade33231f"},"destination":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Apply ID mapping","comments":"","instanceIdentifier":"0916a00a-d37b-3297-44b5-66a6d80cce1f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"104da2d5-95a1-3c6a-b260-d54b7d12bf89","instanceIdentifier":"55c72040-c6e0-39bc-3e65-feca5b4a5151","name":"","source":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"SplitJson","comments":"","instanceIdentifier":"5638a960-63d5-3da0-0365-eb7cdf7492d0"},"destination":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Get Single Entities","comments":"","instanceIdentifier":"d70fbd1f-a06a-3b88-2af3-b5c3ab93fea1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"559928a8-1282-3761-b9a0-2614e01ecadf","instanceIdentifier":"7353ba04-3c82-31e5-2007-24579dd11d5c","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Get Single Entities","comments":"","instanceIdentifier":"d70fbd1f-a06a-3b88-2af3-b5c3ab93fea1"},"destination":{"id":"d83461a2-4bfa-366b-a557-3d03db37a25e","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"LogMessage","comments":"","instanceIdentifier":"3708da14-1612-30fc-0379-ad1d75c88841"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"c5d12edb-0785-33c1-9c71-d55d75fcd0b5","instanceIdentifier":"93fd1db1-2006-385d-63c5-070e74f69b51","name":"","source":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Apply ID mapping","comments":"","instanceIdentifier":"0916a00a-d37b-3297-44b5-66a6d80cce1f"},"destination":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"SplitJson","comments":"","instanceIdentifier":"e60810bb-839a-39df-a460-c6c0c80f7198"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"9e995a06-4b64-3a25-ac1e-6817aec991c6","instanceIdentifier":"58d2cba2-1e7a-37a5-3fe0-48c69bd4120e","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Get Single Entities","comments":"","instanceIdentifier":"d70fbd1f-a06a-3b88-2af3-b5c3ab93fea1"},"destination":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"MergeContent","comments":"","instanceIdentifier":"dde1b310-ca00-30c9-e13a-0f32e941c48e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"38c05b85-5f11-3f7f-80d6-c6b41a7fd75e","instanceIdentifier":"6167ccf2-2b31-3512-a28d-d322f48e5833","name":"","source":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"MergeContent","comments":"","instanceIdentifier":"dde1b310-ca00-30c9-e13a-0f32e941c48e"},"destination":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"ExecuteScript","comments":"","instanceIdentifier":"c427a133-e244-3846-7edc-84bbd782ddb0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"044fe185-8789-3c80-b927-49da787a4971","instanceIdentifier":"80685b2c-9e1e-38d5-43ac-92cdea3b537d","name":"","source":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"Make ND","comments":"","instanceIdentifier":"40acdc4b-22a7-387a-1790-3e2008693f07"},"destination":{"id":"4546e1db-11b6-351e-83ef-44da3e693086","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"PutFile","comments":"","instanceIdentifier":"24fdc019-3e04-3058-b3df-35b7c98f1eee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"},{"identifier":"d952c0da-248f-36b9-ae66-58a81f1e222e","instanceIdentifier":"e59cd12a-1532-3014-f685-29ddf22b0a8b","name":"","source":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"ExecuteScript","comments":"","instanceIdentifier":"c427a133-e244-3846-7edc-84bbd782ddb0"},"destination":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"c8348617-bcf3-3268-a47a-f8d79f0a107d","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"58109934-d101-3890-71fd-0e3ade33231f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8348617-bcf3-3268-a47a-f8d79f0a107d"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}