tempInterval2FileNoMapping/NiFi_Flowtemp2ndnomapping.json
{"flowContents":{"identifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","instanceIdentifier":"fe412687-018c-1000-68da-04259bd350c9","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","instanceIdentifier":"93c97635-df2c-3a67-8fb3-f67744790cab","name":"NGSI-LD continuous Temporal Query ","comments":"","position":{"x":606.0,"y":967.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","instanceIdentifier":"908e73d1-6b83-307f-7298-c41ed6d668ad","name":"GenerateFlowFile","comments":"","position":{"x":128.0,"y":0.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1800 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"3a35ae06-e813-3e9c-a06f-35e859e6917b","instanceIdentifier":"95fc7b88-260b-3837-ac44-a2899c89fd30","name":"SplitContent","comments":"","position":{"x":440.0,"y":320.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","instanceIdentifier":"0ec8a771-17ad-33f5-885f-f05daf6e56b5","name":"ExtractText","comments":"","position":{"x":904.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","callType":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"callType":{"name":"callType","displayName":"callType","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"72d0db0d-c388-3ad8-a5eb-d22903025c21","instanceIdentifier":"c119a006-15ed-3ecc-dab8-7839c550dc55","name":"Get Temporal Entities","comments":"","position":{"x":1224.0,"y":336.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/temporal/entities?type=${callType}&timerel=after&timeAt=${now():minus(1800000):format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}&timeproperty=modifiedAt","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"inputPorts":[],"outputPorts":[{"identifier":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","instanceIdentifier":"b5e4f5f2-b0da-3662-e195-1961a7ae0c53","name":"Temporal Entities","position":{"x":1359.0,"y":640.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"connections":[{"identifier":"ec2bac80-c735-3cc0-b25b-c604bee1f665","instanceIdentifier":"fc46d018-a31e-37c0-e655-9b00646d2b12","name":"","source":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"95fc7b88-260b-3837-ac44-a2899c89fd30"},"destination":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"0ec8a771-17ad-33f5-885f-f05daf6e56b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"9f89d7db-43e4-3c3c-92a3-92073c43e0a2","instanceIdentifier":"db1ebd2b-d4b5-3e0d-7dfa-735eca9f74c6","name":"","source":{"id":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"908e73d1-6b83-307f-7298-c41ed6d668ad"},"destination":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"95fc7b88-260b-3837-ac44-a2899c89fd30"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"8a3b5d07-1c05-32db-af76-450a23ad8821","instanceIdentifier":"f9c085c9-305e-3051-675b-feb03b801ca7","name":"","source":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"0ec8a771-17ad-33f5-885f-f05daf6e56b5"},"destination":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"c119a006-15ed-3ecc-dab8-7839c550dc55"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"5fb243ff-018c-3a57-bdf2-c0446fbb84f3","instanceIdentifier":"dd778674-00e5-3c21-77e1-c026a72f650d","name":"","source":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"c119a006-15ed-3ecc-dab8-7839c550dc55"},"destination":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"b5e4f5f2-b0da-3662-e195-1961a7ae0c53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"}],"remoteProcessGroups":[],"processors":[{"identifier":"d83461a2-4bfa-366b-a557-3d03db37a25e","instanceIdentifier":"0e3a7eee-0998-3a97-8829-0ee86c4623ff","name":"LogMessage","comments":"","position":{"x":1118.0,"y":959.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"c4f7a560-0d0d-3536-a195-0928f3ac2365","instanceIdentifier":"fe1695b1-86c2-3e47-850a-f50b6ebddef5","name":"Make ND","comments":"","position":{"x":3407.717950590265,"y":719.738274311672},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    outputStream.write(bytearray(text.replace(\"@@@@@\", \"\\n\").encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","instanceIdentifier":"f2de1a59-fefe-3c93-afa0-e541502b4e2e","name":"Get Single Entities","comments":"","position":{"x":1670.0,"y":1031.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass TransformJSON(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entity = json.loads(text)\n    template = {'id': entity['id'], 'type': entity['type']}\n    tmpList = []\n    for attrsKey, attrsValue in entity.items():\n      if attrsKey in ['id', 'type', 'modifiedAt', 'createdAt', 'observedAt']:\n        continue\n      if type(attrsValue) == dict and 'type' in attrsValue.keys():\n        attrsValue = [attrsValue]\n      if type(attrsValue) != list:\n        continue\n      for i in range(len(attrsValue)):\n        if len(tmpList) == i:\n          tmpEntity = template.copy()\n          tmpList.append(tmpEntity)\n        else:\n          tmpEntity = tmpList[i]\n        if type(attrsValue) == dict:\n          tmpEntity[attrsKey] = attrsValue\n        else:\n          tmpEntity[attrsKey] = attrsValue[i]\n        if 'observedAt' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['observedAt']\n        if 'instanceId' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['instanceId']\n    outputStream.write(bytearray(json.dumps(tmpList, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n    flowFile = session.write(flowFile, TransformJSON())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"02135b05-548b-37f2-b5e2-5432f2fc1cac","instanceIdentifier":"f00ec316-66ce-38d6-3027-8ba4cc2c418c","name":"ExecuteScript","comments":"","position":{"x":2771.5,"y":1015.75},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      result.extend(entity)\n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","instanceIdentifier":"f130471e-3690-3873-8e25-efc79fd8a98b","name":"MergeContent","comments":"","position":{"x":2286.0,"y":1370.5},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"100 KB","Maximum number of Bins":"10","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"180 sec","Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","instanceIdentifier":"66e90f6c-ea58-3b24-88c8-752864e78e83","name":"SplitJson","comments":"","position":{"x":2280.0,"y":448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","instanceIdentifier":"2945a98f-aaad-3735-1eb6-090084e0b16c","name":"SplitJson","comments":"","position":{"x":1086.0,"y":1215.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"67dc7b8e-46c2-396a-a160-c6e0694175ad","instanceIdentifier":"751ce109-c36e-3bc5-d1d2-71ea030af691","name":"MergeContent","comments":"","position":{"x":2808.0,"y":608.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":"@@@@@","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"4546e1db-11b6-351e-83ef-44da3e693086","instanceIdentifier":"661ae21d-fa5b-3e5f-fb15-0b48c6f7fc9e","name":"PutFile","comments":"","position":{"x":3392.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/download","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","instanceIdentifier":"5be317bb-bf5a-3c03-c92e-4b8611bd8fda","name":"NGSI-LD to HL7 FHIR","comments":"","position":{"x":2056.0,"y":984.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  forceArray = []\n  def __init__(self):\n    forceArrayStr = os.environ.get('FORCE_ARRAY', '')\n    self.forceArray = forceArrayStr.split(',')\n\n  def cleanKeys(self, subTmp):\n    if type(subTmp) == list:\n      result = []\n      for i in subTmp:\n        result.append(self.cleanKeys(subTmp))\n      return result\n    elif type(subTmp) == dict:\n      result = {}\n      for key, value in subTmp.items():\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        result[key] = self.cleanKeys(value)\n      return result\n    else:\n      return subTmp\n\n  def getAttribute(self, value, attribKey):\n    log.warn('attrib key: ' + attribKey)\n    log.warn('value: ' + str(value))\n    if type(value) == list:\n      result = []\n      for entry in value:\n        subTmp = self.getAttribute(entry, attribKey)\n        if subTmp:\n          result.append(subTmp)\n    elif type(value) == dict:\n      result = {}\n      for key, value in value.items():\n        log.warn('sub key: ' + key)\n        if not value:\n          log.warn('value is none')  \n        else:\n          log.warn('value: ' + str(value)) \n        if key in ['type', 'createdAt', 'observedAt', 'modifiedAt']:\n          log.warn('continue type ca oa ma')\n          continue\n        if key in ['value', 'object']:\n          log.warn('value found')\n          result['value'] = value\n        else:\n          log.warn('else ')\n          subTmp = self.getAttribute(value, key)\n          if subTmp:\n            result[key] = subTmp\n      if 'value' not in result.keys():\n        log.warn('value not in result')\n        log.warn(str(result))\n        return None\n      if len(result) == 1:\n        result = result['value']\n      else:\n        if type(result['value']) == list:\n          tmp = result['value']\n          del result['value']\n          tmp.append(result)\n          result = tmp\n        elif type(result['value']) == dict:\n          tmp = result['value']\n          del result['value']\n          tmp.update(result)\n          result = tmp\n    else:\n      result = value\n    if attribKey in self.forceArray and type(result) != list:\n      result = [result]\n    return result\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      newEntity = {}\n      if 'resourceType' not in entity.keys():\n        entity['resourceType'] = {'type': 'Property', 'value': entity['type']}\n      for key, value in entity.items():\n        if key in ['id']:\n          newEntity[key] = value\n          continue\n        if key in ['observedAt', 'modifiedAt', 'createdAt', 'type']:\n          continue\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        log.warn('calling from entity root with key ' + key)\n        subTmp = self.getAttribute(value, key)\n        if subTmp:\n          log.warn('before clean')\n          log.warn(str(subTmp))\n          subTmp = self.cleanKeys(subTmp)\n          log.warn('after clean')\n          log.warn(str(subTmp))\n          newEntity[key] = subTmp\n      result.append(newEntity)  \n        \n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e1ebafe5-9639-32a8-a7f6-7431948a7e40","instanceIdentifier":"ffcc03bf-e0dc-3f47-9789-98719fdce31b","name":"","source":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"b5e4f5f2-b0da-3662-e195-1961a7ae0c53"},"destination":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"SplitJson","comments":"","instanceIdentifier":"2945a98f-aaad-3735-1eb6-090084e0b16c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"97865dec-8d71-32be-a945-079949480b3e","instanceIdentifier":"8af86e83-3f8b-3baf-aede-b41126c66ecc","name":"","source":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"MergeContent","comments":"","instanceIdentifier":"751ce109-c36e-3bc5-d1d2-71ea030af691"},"destination":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"Make ND","comments":"","instanceIdentifier":"fe1695b1-86c2-3e47-850a-f50b6ebddef5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"57503fba-3217-3582-993f-83fcea78d73f","instanceIdentifier":"c95f88c5-813b-36d1-9c5a-a3fb39c2ba1d","name":"","source":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"SplitJson","comments":"","instanceIdentifier":"66e90f6c-ea58-3b24-88c8-752864e78e83"},"destination":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"MergeContent","comments":"","instanceIdentifier":"751ce109-c36e-3bc5-d1d2-71ea030af691"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"104da2d5-95a1-3c6a-b260-d54b7d12bf89","instanceIdentifier":"0ec254d8-1ada-36b4-73c4-52ecd9b76ce5","name":"","source":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"SplitJson","comments":"","instanceIdentifier":"2945a98f-aaad-3735-1eb6-090084e0b16c"},"destination":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"Get Single Entities","comments":"","instanceIdentifier":"f2de1a59-fefe-3c93-afa0-e541502b4e2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"559928a8-1282-3761-b9a0-2614e01ecadf","instanceIdentifier":"13aa860b-428a-3984-d989-1c8d4fa93c1d","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"Get Single Entities","comments":"","instanceIdentifier":"f2de1a59-fefe-3c93-afa0-e541502b4e2e"},"destination":{"id":"d83461a2-4bfa-366b-a557-3d03db37a25e","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"LogMessage","comments":"","instanceIdentifier":"0e3a7eee-0998-3a97-8829-0ee86c4623ff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"56a78445-bf9c-3744-a8a2-9a9f9b38d51b","instanceIdentifier":"5c448a75-462d-3c31-9c6a-ed6a7429dfce","name":"","source":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"5be317bb-bf5a-3c03-c92e-4b8611bd8fda"},"destination":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"SplitJson","comments":"","instanceIdentifier":"66e90f6c-ea58-3b24-88c8-752864e78e83"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"38c05b85-5f11-3f7f-80d6-c6b41a7fd75e","instanceIdentifier":"d347669f-de64-3328-9113-7d328aa56f12","name":"","source":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"MergeContent","comments":"","instanceIdentifier":"f130471e-3690-3873-8e25-efc79fd8a98b"},"destination":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"ExecuteScript","comments":"","instanceIdentifier":"f00ec316-66ce-38d6-3027-8ba4cc2c418c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"9e995a06-4b64-3a25-ac1e-6817aec991c6","instanceIdentifier":"9ea5f120-6561-30ff-dad3-134783980019","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"Get Single Entities","comments":"","instanceIdentifier":"f2de1a59-fefe-3c93-afa0-e541502b4e2e"},"destination":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"MergeContent","comments":"","instanceIdentifier":"f130471e-3690-3873-8e25-efc79fd8a98b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"d952c0da-248f-36b9-ae66-58a81f1e222e","instanceIdentifier":"71a609b2-d2c3-3cd0-b00e-088a5d690b51","name":"","source":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"ExecuteScript","comments":"","instanceIdentifier":"f00ec316-66ce-38d6-3027-8ba4cc2c418c"},"destination":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"5be317bb-bf5a-3c03-c92e-4b8611bd8fda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"},{"identifier":"044fe185-8789-3c80-b927-49da787a4971","instanceIdentifier":"7822f6f5-e158-3417-64a1-5e617b91941f","name":"","source":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"Make ND","comments":"","instanceIdentifier":"fe1695b1-86c2-3e47-850a-f50b6ebddef5"},"destination":{"id":"4546e1db-11b6-351e-83ef-44da3e693086","type":"PROCESSOR","groupId":"9d86befe-9ec3-3ac6-bac3-3991405b4da3","name":"PutFile","comments":"","instanceIdentifier":"661ae21d-fa5b-3e5f-fb15-0b48c6f7fc9e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d86befe-9ec3-3ac6-bac3-3991405b4da3"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}