fullSetup/NiFi_Flow_full.json
{"flowContents":{"identifier":"17d2d7c5-2473-357b-bf6c-5685f329cade","instanceIdentifier":"fe35c9fb-018c-1000-4411-1cde1c5747b5","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437","instanceIdentifier":"f21a7f1a-e01a-3c3d-efe7-f1e7e045a980","name":"NGSI-LD Subscriptions","comments":"","position":{"x":494.0,"y":727.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","instanceIdentifier":"8d379efa-5962-3461-8759-dc9708637674","name":"SplitContent","comments":"","position":{"x":264.0,"y":432.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"27e4e5f8-585a-35b1-a830-be0f3cf20252","instanceIdentifier":"7e94512b-bff6-3f47-8c21-4cecee4575f4","name":"EvaluateJsonPath","comments":"","position":{"x":1240.0,"y":280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","JsonPaths":"$.data","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPaths":{"name":"JsonPaths","displayName":"JsonPaths","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","instanceIdentifier":"f7088a8c-e327-3295-84e3-09dda55efb7f","name":"ReplaceText","comments":"","position":{"x":272.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\"type\":\"$1\"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","instanceIdentifier":"14a6f270-aadd-3a56-9cab-896f62c06f76","name":"MergeContent","comments":"","position":{"x":336.0,"y":768.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"f10ef940-3e17-3703-b8ed-8131eb50e532","instanceIdentifier":"e1a3824d-2470-3350-61fa-4aee480ba1fc","name":"ReplaceText","comments":"","position":{"x":1064.0,"y":728.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\n\t\"id\": \"myspecial_sub_id:1234567\",\n\t\"type\": \"Subscription\",\n\t\"entities\": [\n\t\t$1\n\t],\n\t\"notification\": {\n\t\t\"endpoint\": {\n\t\t\t\"uri\": \"${NOTIFICATION_HOST}:${NOTIFICATION_PORT}/${NOTIFICATION_PATH}\",\n\t\t\t\"accept\": \"application/json\"\n\t\t}\n\t}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","instanceIdentifier":"b779e275-4d6e-3873-8d89-0c27329f91e2","name":"InvokeHTTP","comments":"","position":{"x":736.0,"y":184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/subscriptions","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"9d42a62b-b252-329c-b503-e614f090bbb3","instanceIdentifier":"41a638a0-d56e-32a8-2db0-f9693d561e0c","name":"GenerateFlowFile","comments":"","position":{"x":232.0,"y":200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"620bf838-a2db-3460-adf5-807f3e18cd21","instanceIdentifier":"31da7b46-90a9-30b4-063a-5c3b5eb34b05","name":"ListenHTTP","comments":"","position":{"x":896.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"${NOTIFICATION_PATH}","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"${NOTIFICATION_PORT}"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","instanceIdentifier":"c53d0fd7-f481-3e6c-5bea-abbcfbee889e","name":"LogMessage","comments":"","position":{"x":1280.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"inputPorts":[],"outputPorts":[{"identifier":"00c06b2e-8245-316d-a97b-72fbba2f0412","instanceIdentifier":"3b66b0c0-2629-3417-7141-83fbfacab4e5","name":"NGSI-LD Notification Data","position":{"x":1464.0,"y":656.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"connections":[{"identifier":"5059ad9c-ece9-3534-94c9-d465869bf283","instanceIdentifier":"73dad067-a61b-3499-4e4b-c8e8f66ba319","name":"","source":{"id":"620bf838-a2db-3460-adf5-807f3e18cd21","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ListenHTTP","comments":"","instanceIdentifier":"31da7b46-90a9-30b4-063a-5c3b5eb34b05"},"destination":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7e94512b-bff6-3f47-8c21-4cecee4575f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"8ab9ba9e-f58a-302b-89c1-69e01e9b88a3","instanceIdentifier":"74499b65-94c3-3a0a-4216-a32c57a180d0","name":"","source":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7e94512b-bff6-3f47-8c21-4cecee4575f4"},"destination":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"NGSI-LD Notification Data","instanceIdentifier":"3b66b0c0-2629-3417-7141-83fbfacab4e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"b80f3ec5-87fc-32d0-807c-abed3e445ce5","instanceIdentifier":"4425a6d7-9b2d-3d71-fabc-77cb4f59e528","name":"","source":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"f7088a8c-e327-3295-84e3-09dda55efb7f"},"destination":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"MergeContent","comments":"","instanceIdentifier":"14a6f270-aadd-3a56-9cab-896f62c06f76"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"521cc49f-a98c-3b41-bd16-8971c224f718","instanceIdentifier":"476712df-57cf-3645-25fb-5d82f0661db9","name":"","source":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"SplitContent","comments":"","instanceIdentifier":"8d379efa-5962-3461-8759-dc9708637674"},"destination":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"f7088a8c-e327-3295-84e3-09dda55efb7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"448e93b5-6177-3d7b-9a15-512f8a9d8424","instanceIdentifier":"6ee5ab91-8319-352f-bf55-671c81a2f4b4","name":"","source":{"id":"9d42a62b-b252-329c-b503-e614f090bbb3","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"GenerateFlowFile","comments":"","instanceIdentifier":"41a638a0-d56e-32a8-2db0-f9693d561e0c"},"destination":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"SplitContent","comments":"","instanceIdentifier":"8d379efa-5962-3461-8759-dc9708637674"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"eef6d023-01bf-36dc-9004-41acd6dfd4aa","instanceIdentifier":"17f5d33b-29a9-36d9-7110-1f313c672dc4","name":"","source":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"InvokeHTTP","comments":"","instanceIdentifier":"b779e275-4d6e-3873-8d89-0c27329f91e2"},"destination":{"id":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"LogMessage","comments":"","instanceIdentifier":"c53d0fd7-f481-3e6c-5bea-abbcfbee889e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"2064fc94-5e87-3ea8-9f7d-5224b9daa0f6","instanceIdentifier":"b497081b-d14a-3848-1050-1afc3deb8589","name":"","source":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"MergeContent","comments":"","instanceIdentifier":"14a6f270-aadd-3a56-9cab-896f62c06f76"},"destination":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"e1a3824d-2470-3350-61fa-4aee480ba1fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"984769e7-ec6a-34ca-97b6-c4f667e8bcdd","instanceIdentifier":"958574c1-5952-339f-58c4-190aa9049379","name":"","source":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"e1a3824d-2470-3350-61fa-4aee480ba1fc"},"destination":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"InvokeHTTP","comments":"","instanceIdentifier":"b779e275-4d6e-3873-8d89-0c27329f91e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","instanceIdentifier":"fe70e028-9f38-3960-58c8-2ff1654d7099","name":"NGSI-LD continuous Temporal Query ","comments":"","position":{"x":606.0,"y":967.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","instanceIdentifier":"efdb5748-7e86-325b-c34e-2066934d0084","name":"GenerateFlowFile","comments":"","position":{"x":128.0,"y":0.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1800 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"3a35ae06-e813-3e9c-a06f-35e859e6917b","instanceIdentifier":"900153a5-671e-3d8c-3df9-81302d6beb9f","name":"SplitContent","comments":"","position":{"x":440.0,"y":320.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","instanceIdentifier":"0ae7a3d0-482e-3419-c2f8-97f8623a165a","name":"ExtractText","comments":"","position":{"x":904.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","callType":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"callType":{"name":"callType","displayName":"callType","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"72d0db0d-c388-3ad8-a5eb-d22903025c21","instanceIdentifier":"2a128e67-72bc-36a9-588c-3d26cb1ed9e7","name":"Get Temporal Entities","comments":"","position":{"x":1224.0,"y":336.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/temporal/entities?type=${callType}&timerel=after&timeAt=${now():minus(1800000):format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}&timeproperty=modifiedAt","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"inputPorts":[],"outputPorts":[{"identifier":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","instanceIdentifier":"862af9da-890a-3851-61a0-28898a4e6507","name":"Temporal Entities","position":{"x":1359.0,"y":640.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"connections":[{"identifier":"ec2bac80-c735-3cc0-b25b-c604bee1f665","instanceIdentifier":"3d2e2719-844c-3916-6aed-d4d6ccfbaf5e","name":"","source":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"900153a5-671e-3d8c-3df9-81302d6beb9f"},"destination":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"0ae7a3d0-482e-3419-c2f8-97f8623a165a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"9f89d7db-43e4-3c3c-92a3-92073c43e0a2","instanceIdentifier":"238b2d91-edbd-3ca9-f9a4-6a5ef0a0a2c1","name":"","source":{"id":"289764b0-4b54-3d6f-a6ba-6511cc398fc8","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"efdb5748-7e86-325b-c34e-2066934d0084"},"destination":{"id":"3a35ae06-e813-3e9c-a06f-35e859e6917b","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"SplitContent","comments":"","instanceIdentifier":"900153a5-671e-3d8c-3df9-81302d6beb9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"8a3b5d07-1c05-32db-af76-450a23ad8821","instanceIdentifier":"68ec5431-bc21-3f4d-d521-70365e8f194f","name":"","source":{"id":"e70882d7-5bb2-3f36-8666-7cdc64c0cfab","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"ExtractText","comments":"","instanceIdentifier":"0ae7a3d0-482e-3419-c2f8-97f8623a165a"},"destination":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"2a128e67-72bc-36a9-588c-3d26cb1ed9e7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"},{"identifier":"5fb243ff-018c-3a57-bdf2-c0446fbb84f3","instanceIdentifier":"dc8e6b82-cf05-3ed8-7272-016f26f3a324","name":"","source":{"id":"72d0db0d-c388-3ad8-a5eb-d22903025c21","type":"PROCESSOR","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Get Temporal Entities","comments":"","instanceIdentifier":"2a128e67-72bc-36a9-588c-3d26cb1ed9e7"},"destination":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"862af9da-890a-3851-61a0-28898a4e6507"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"}],"remoteProcessGroups":[],"processors":[{"identifier":"c4f7a560-0d0d-3536-a195-0928f3ac2365","instanceIdentifier":"8bdc6c6c-a2a7-3353-da6b-ec19395eef3c","name":"Make ND","comments":"","position":{"x":3407.717950590265,"y":719.738274311672},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    outputStream.write(bytearray(text.replace(\"@@@@@\", \"\\n\").encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"d83461a2-4bfa-366b-a557-3d03db37a25e","instanceIdentifier":"ab56403c-f4d4-346d-d358-9b70547d0016","name":"LogMessage","comments":"","position":{"x":1118.0,"y":959.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"c095766a-273e-3b1a-b6eb-dcfaeb124893","instanceIdentifier":"ceb98078-4502-395b-4e38-e8ca2e2e21b4","name":"LogMessage","comments":"","position":{"x":1438.0,"y":471.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","instanceIdentifier":"92f5b233-c741-37e5-e553-c800f3a203c4","name":"EvaluateJsonPath","comments":"","position":{"x":1462.0,"y":687.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","fhir.id":"$.id","Return Type":"json","Null Value Representation":"empty string","fhir.resourceType":"$.resourceType","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fhir.id":{"name":"fhir.id","displayName":"fhir.id","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"fhir.resourceType":{"name":"fhir.resourceType","displayName":"fhir.resourceType","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"67dc7b8e-46c2-396a-a160-c6e0694175ad","instanceIdentifier":"edccf53c-bc3d-3715-9290-4d19830133e6","name":"MergeContent","comments":"","position":{"x":2808.0,"y":608.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":"@@@@@","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","instanceIdentifier":"73d1a488-ea91-3841-21be-d1dc9e1e45c3","name":"Apply ID mapping","comments":"","position":{"x":2120.0,"y":808.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport csv\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass ReplaceIds(StreamCallback):\n  \n  mapping = {}\n  \n  def __init__(self):\n    if os.path.isfile('/home/nifi/mapping.csv'):\n      log.warn('found mapping file')\n      with open('/home/nifi/mapping.csv') as csvfile:\n        readFile = csv.reader(csvfile, delimiter=';')\n        for row in readFile:\n          log.warn(str(row))\n          if row[0] in self.mapping:\n            self.mapping[row[0]].append([row[1], row[2]])\n          else:\n            self.mapping[row[0]] = [[row[1], row[2]]]\n      log.warn(str(self.mapping))\n        \n  def cleanValue(self, value):\n    log.warn('cleaning value')\n    log.warn('value type')\n    log.warn(str(type(value)))\n    if type(value) == str or type(value) == unicode:\n      log.warn('value is str')\n      value = value.replace(':', '_').replace('@', '_').replace('?', '_').replace('&', '_').replace('/', '_')\n    log.warn(str(value))\n    return value\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    if type(entities) != list:\n      entities = [entities]\n    mapping = self.mapping;\n    log.warn(str(mapping))\n    for entity in entities:\n      for key, value in mapping.items():\n        indexToCheck = []  \n        splittedKey = key.split('/')\n        for split in splittedKey:\n          toCheck = entity\n          for i in indexToCheck:\n            toCheck = toCheck[i]\n          if split.isnumeric():\n            log.warn('split is numeric')\n            log.warn(split)\n            split = int(split)\n          if type(toCheck) == dict:\n            if split in toCheck.keys():\n              indexToCheck.append(split)\n              tmp = toCheck[split]\n              if type(tmp) == dict and 'type' in tmp.keys():\n                if tmp['type'] == 'Property':\n                  indexToCheck.append('value')\n                elif tmp['type'] == 'Relationship':\n                  indexToCheck.append('object')\n            else:\n              indexToCheck = []\n              break\n          elif type(toCheck) == list and type(split) == int:\n            if len(toCheck) > split:\n              indexToCheck.append(split)\n            else:\n              indexToCheck = []\n              break\n          else:\n            indexToCheck = []\n            break\n        if len(indexToCheck) > 0:\n          toCheck = entity\n          length = len(indexToCheck)\n          log.warn('index to check')\n          log.warn(str(indexToCheck))\n          log.warn('value')\n          log.warn(str(value))\n          for mappings in value:\n            log.warn('mappings')\n            log.warn(str(mappings))\n            found = False\n            for i in range(length):\n              log.warn('i')\n              log.warn(str(i))\n              index = indexToCheck[i]\n              if i == length - 1:\n                log.warn('setting value')\n                if toCheck[index] == mappings[0]:\n                  found = True\n                  if mappings[1] != '':\n                    toCheck[index] = mappings[1]\n                  else:\n                    toCheck[index] = self.cleanValue(toCheck[index])\n                elif mappings[0] == '':\n                  toCheck[index] = self.cleanValue(toCheck[index])\n              else:\n                toCheck = toCheck[index]\n            if found:\n              break\n    log.warn('returning')\n    log.warn(json.dumps(entities, indent=4))\n    outputStream.write(bytearray(json.dumps(entities, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n  log.warn('asdasdasdasdasd')\n  flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  log.warn('asdasdasdasdasd')\n#  try:\n#  log.warn('asdasdasdasdasd')\n  tmp = ReplaceIds()\n  flowFile = session.write(flowFile, tmp)\n#  log.warn('asdasdasdasdasd')\n#  log.warn('asdasdasdasdasd')\n  flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n  session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","instanceIdentifier":"9e468cc9-e08b-3dd0-5c55-e4ffce0f4962","name":"Get Single Entities","comments":"","position":{"x":1670.0,"y":1031.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass TransformJSON(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entity = json.loads(text)\n    template = {'id': entity['id'], 'type': entity['type']}\n    tmpList = []\n    for attrsKey, attrsValue in entity.items():\n      if attrsKey in ['id', 'type', 'modifiedAt', 'createdAt', 'observedAt']:\n        continue\n      if type(attrsValue) == dict and 'type' in attrsValue.keys():\n        attrsValue = [attrsValue]\n      if type(attrsValue) != list:\n        continue\n      for i in range(len(attrsValue)):\n        if len(tmpList) == i:\n          tmpEntity = template.copy()\n          tmpList.append(tmpEntity)\n        else:\n          tmpEntity = tmpList[i]\n        if type(attrsValue) == dict:\n          tmpEntity[attrsKey] = attrsValue\n        else:\n          tmpEntity[attrsKey] = attrsValue[i]\n        if 'observedAt' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['observedAt']\n        if 'instanceId' in tmpEntity[attrsKey].keys():\n          del tmpEntity[attrsKey]['instanceId']\n    outputStream.write(bytearray(json.dumps(tmpList, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n    flowFile = session.write(flowFile, TransformJSON())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"02135b05-548b-37f2-b5e2-5432f2fc1cac","instanceIdentifier":"bd8c2552-1fed-3de0-bc60-177d71b6aa4c","name":"ExecuteScript","comments":"","position":{"x":2771.5,"y":1015.75},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      result.extend(entity)\n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","instanceIdentifier":"563d85ff-5340-31c7-f5db-68b7ae563215","name":"MergeContent","comments":"","position":{"x":2286.0,"y":1370.5},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"100 KB","Maximum number of Bins":"10","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"180 sec","Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","instanceIdentifier":"0da7b15e-0f61-33bc-c12b-114435ccaae7","name":"SplitJson","comments":"","position":{"x":1086.0,"y":1215.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"c40376cf-394f-3197-906d-d02057723fd6","instanceIdentifier":"c657f479-a153-3c55-18b2-43eb6c5af240","name":"Call FHIR endpoint","comments":"","position":{"x":1878.0,"y":471.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${HL7_HOST}/${fhir.resourceType}/${fhir.id}\n","form-body-form-name":null,"Content-Type":"application/fhir+json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","instanceIdentifier":"4e02f13f-436a-38a8-585d-21f551624264","name":"SplitJson","comments":"","position":{"x":2280.0,"y":448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","instanceIdentifier":"058fbefc-1ef6-3453-7631-b4461504e7f4","name":"NGSI-LD to HL7 FHIR","comments":"","position":{"x":2080.0,"y":992.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  forceArray = []\n  def __init__(self):\n    forceArrayStr = os.environ.get('FORCE_ARRAY', '')\n    self.forceArray = forceArrayStr.split(',')\n\n  def cleanKeys(self, subTmp):\n    if type(subTmp) == list:\n      result = []\n      for i in subTmp:\n        result.append(self.cleanKeys(subTmp))\n      return result\n    elif type(subTmp) == dict:\n      result = {}\n      for key, value in subTmp.items():\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        result[key] = self.cleanKeys(value)\n      return result\n    else:\n      return subTmp\n\n  def getAttribute(self, value, attribKey):\n    log.warn('attrib key: ' + attribKey)\n    log.warn('value: ' + str(value))\n    if type(value) == list:\n      result = []\n      for entry in value:\n        subTmp = self.getAttribute(entry, attribKey)\n        if subTmp:\n          result.append(subTmp)\n    elif type(value) == dict:\n      result = {}\n      for key, value in value.items():\n        log.warn('sub key: ' + key)\n        if not value:\n          log.warn('value is none')  \n        else:\n          log.warn('value: ' + str(value)) \n        if key in ['type', 'createdAt', 'observedAt', 'modifiedAt']:\n          log.warn('continue type ca oa ma')\n          continue\n        if key in ['value', 'object']:\n          log.warn('value found')\n          result['value'] = value\n        else:\n          log.warn('else ')\n          subTmp = self.getAttribute(value, key)\n          if subTmp:\n            result[key] = subTmp\n      if 'value' not in result.keys():\n        log.warn('value not in result')\n        log.warn(str(result))\n        return None\n      if len(result) == 1:\n        result = result['value']\n      else:\n        if type(result['value']) == list:\n          tmp = result['value']\n          del result['value']\n          tmp.append(result)\n          result = tmp\n        elif type(result['value']) == dict:\n          tmp = result['value']\n          del result['value']\n          tmp.update(result)\n          result = tmp\n    else:\n      result = value\n    if attribKey in self.forceArray and type(result) != list:\n      result = [result]\n    return result\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      newEntity = {}\n      if 'resourceType' not in entity.keys():\n        entity['resourceType'] = {'type': 'Property', 'value': entity['type']}\n      for key, value in entity.items():\n        if key in ['id']:\n          newEntity[key] = value\n          continue\n        if key in ['observedAt', 'modifiedAt', 'createdAt', 'type']:\n          continue\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        log.warn('calling from entity root with key ' + key)\n        subTmp = self.getAttribute(value, key)\n        if subTmp:\n          log.warn('before clean')\n          log.warn(str(subTmp))\n          subTmp = self.cleanKeys(subTmp)\n          log.warn('after clean')\n          log.warn(str(subTmp))\n          newEntity[key] = subTmp\n      result.append(newEntity)  \n        \n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"4546e1db-11b6-351e-83ef-44da3e693086","instanceIdentifier":"912c43c9-a83d-3f0d-fd49-a45e4151e60f","name":"PutFile","comments":"","position":{"x":3392.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/download","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"57503fba-3217-3582-993f-83fcea78d73f","instanceIdentifier":"8da2d276-4ffc-30d1-d04d-cb899404cb8f","name":"","source":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"SplitJson","comments":"","instanceIdentifier":"4e02f13f-436a-38a8-585d-21f551624264"},"destination":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"MergeContent","comments":"","instanceIdentifier":"edccf53c-bc3d-3715-9290-4d19830133e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"2d9f4579-c187-32f1-82dc-41c936cc5d55","instanceIdentifier":"7c9d7cc8-5335-3722-d514-400c8e5c1910","name":"","source":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"SplitJson","comments":"","instanceIdentifier":"4e02f13f-436a-38a8-585d-21f551624264"},"destination":{"id":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"92f5b233-c741-37e5-e553-c800f3a203c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"559928a8-1282-3761-b9a0-2614e01ecadf","instanceIdentifier":"2f60f127-8b1f-369d-f93d-557562c27001","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Get Single Entities","comments":"","instanceIdentifier":"9e468cc9-e08b-3dd0-5c55-e4ffce0f4962"},"destination":{"id":"d83461a2-4bfa-366b-a557-3d03db37a25e","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"LogMessage","comments":"","instanceIdentifier":"ab56403c-f4d4-346d-d358-9b70547d0016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"f10f582f-0979-3519-a7f9-db5a1207e47a","instanceIdentifier":"a292f238-436c-35e8-3b90-8a29e3a4e3ee","name":"","source":{"id":"c40376cf-394f-3197-906d-d02057723fd6","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"c657f479-a153-3c55-18b2-43eb6c5af240"},"destination":{"id":"c095766a-273e-3b1a-b6eb-dcfaeb124893","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"LogMessage","comments":"","instanceIdentifier":"ceb98078-4502-395b-4e38-e8ca2e2e21b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"c5d12edb-0785-33c1-9c71-d55d75fcd0b5","instanceIdentifier":"e7d0dc9c-5ab2-3147-7f5e-413c7be57714","name":"","source":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Apply ID mapping","comments":"","instanceIdentifier":"73d1a488-ea91-3841-21be-d1dc9e1e45c3"},"destination":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"SplitJson","comments":"","instanceIdentifier":"4e02f13f-436a-38a8-585d-21f551624264"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"38c05b85-5f11-3f7f-80d6-c6b41a7fd75e","instanceIdentifier":"7586b4e3-453f-34cc-afd7-52396e925c75","name":"","source":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"MergeContent","comments":"","instanceIdentifier":"563d85ff-5340-31c7-f5db-68b7ae563215"},"destination":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"ExecuteScript","comments":"","instanceIdentifier":"bd8c2552-1fed-3de0-bc60-177d71b6aa4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"d952c0da-248f-36b9-ae66-58a81f1e222e","instanceIdentifier":"b9453285-fc7c-3ad1-e4fe-ec85f79fbd27","name":"","source":{"id":"02135b05-548b-37f2-b5e2-5432f2fc1cac","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"ExecuteScript","comments":"","instanceIdentifier":"bd8c2552-1fed-3de0-bc60-177d71b6aa4c"},"destination":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"058fbefc-1ef6-3453-7631-b4461504e7f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"044fe185-8789-3c80-b927-49da787a4971","instanceIdentifier":"79088a2f-d886-3cc1-1069-e2b1c4a14cd1","name":"","source":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Make ND","comments":"","instanceIdentifier":"8bdc6c6c-a2a7-3353-da6b-ec19395eef3c"},"destination":{"id":"4546e1db-11b6-351e-83ef-44da3e693086","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"PutFile","comments":"","instanceIdentifier":"912c43c9-a83d-3f0d-fd49-a45e4151e60f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"97865dec-8d71-32be-a945-079949480b3e","instanceIdentifier":"f5e78e15-84df-364d-8f37-bba0a3c0b3ff","name":"","source":{"id":"67dc7b8e-46c2-396a-a160-c6e0694175ad","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"MergeContent","comments":"","instanceIdentifier":"edccf53c-bc3d-3715-9290-4d19830133e6"},"destination":{"id":"c4f7a560-0d0d-3536-a195-0928f3ac2365","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Make ND","comments":"","instanceIdentifier":"8bdc6c6c-a2a7-3353-da6b-ec19395eef3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"e1ebafe5-9639-32a8-a7f6-7431948a7e40","instanceIdentifier":"5135a28e-e5d5-3414-2f32-44e4be307ed0","name":"","source":{"id":"b44f3c5d-9031-3a3e-a7e7-e1a6290adfa5","type":"OUTPUT_PORT","groupId":"3d4a75a2-18f7-3432-b0ef-fa8f31ca6fb8","name":"Temporal Entities","instanceIdentifier":"862af9da-890a-3851-61a0-28898a4e6507"},"destination":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"SplitJson","comments":"","instanceIdentifier":"0da7b15e-0f61-33bc-c12b-114435ccaae7"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"44914c43-a3f5-3677-aaf3-fbd262635323","instanceIdentifier":"42f274a8-9555-3678-8f3c-5584228478c9","name":"","source":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"058fbefc-1ef6-3453-7631-b4461504e7f4"},"destination":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Apply ID mapping","comments":"","instanceIdentifier":"73d1a488-ea91-3841-21be-d1dc9e1e45c3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"104da2d5-95a1-3c6a-b260-d54b7d12bf89","instanceIdentifier":"1faf9bb7-8dfb-31f8-957b-fbebba142755","name":"","source":{"id":"a2ff60ef-c2f5-39fd-9c77-fe0fd60d7188","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"SplitJson","comments":"","instanceIdentifier":"0da7b15e-0f61-33bc-c12b-114435ccaae7"},"destination":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Get Single Entities","comments":"","instanceIdentifier":"9e468cc9-e08b-3dd0-5c55-e4ffce0f4962"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"f2c0b9b4-a173-3eb2-a7ec-3b2bb98f26eb","instanceIdentifier":"af58e804-63d5-3933-eb68-05018970b00d","name":"","source":{"id":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"92f5b233-c741-37e5-e553-c800f3a203c4"},"destination":{"id":"c40376cf-394f-3197-906d-d02057723fd6","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"c657f479-a153-3c55-18b2-43eb6c5af240"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"9e995a06-4b64-3a25-ac1e-6817aec991c6","instanceIdentifier":"5def309f-4c15-3cc0-f222-aee0fe42a278","name":"","source":{"id":"6864420d-9c3b-3e97-bb16-d9bcd04c95bc","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"Get Single Entities","comments":"","instanceIdentifier":"9e468cc9-e08b-3dd0-5c55-e4ffce0f4962"},"destination":{"id":"bc7e6072-e3e0-342c-9e88-14a19647c8f4","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"MergeContent","comments":"","instanceIdentifier":"563d85ff-5340-31c7-f5db-68b7ae563215"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"},{"identifier":"e30962c7-6445-3237-8b8b-253a6aaa0e0e","instanceIdentifier":"e34fab09-f326-3b47-83f2-b5aa3446c5a9","name":"","source":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"NGSI-LD Notification Data","instanceIdentifier":"3b66b0c0-2629-3417-7141-83fbfacab4e5"},"destination":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"17d2d7c5-2473-357b-bf6c-5685f329cade","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"058fbefc-1ef6-3453-7631-b4461504e7f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17d2d7c5-2473-357b-bf6c-5685f329cade"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}