sub2LiveSystem/NGSILDHL7Flow.json
{"flowContents":{"identifier":"3e06a40c-e274-3903-99d0-9c45b5531e80","instanceIdentifier":"744cc16e-0188-1000-1b7e-e925a1f1b367","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":8.0},"processGroups":[{"identifier":"eebaea83-90d9-315c-a799-37198083f54e","instanceIdentifier":"9cc92fc1-2311-3682-e59a-ca55464bf6f1","name":"NGSI-LD Subscriptions","comments":"","position":{"x":2018.2122400232342,"y":1177.2718375035558},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","instanceIdentifier":"e937f196-7187-330e-75a4-0189a695ca61","name":"SplitContent","comments":"","position":{"x":264.0,"y":432.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"27e4e5f8-585a-35b1-a830-be0f3cf20252","instanceIdentifier":"f748a32a-b653-38ca-c63e-2a88479529bf","name":"EvaluateJsonPath","comments":"","position":{"x":1240.0,"y":280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","JsonPaths":"$.data","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPaths":{"name":"JsonPaths","displayName":"JsonPaths","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","instanceIdentifier":"d4c17f3e-f4f5-38a0-33a7-f844e1d3540b","name":"ReplaceText","comments":"","position":{"x":272.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\"type\":\"$1\"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","instanceIdentifier":"bedbba7d-633d-3167-c5a1-b75a9dec306f","name":"MergeContent","comments":"","position":{"x":336.0,"y":768.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"f10ef940-3e17-3703-b8ed-8131eb50e532","instanceIdentifier":"a4da93f1-2b1c-3c8c-9659-bf52d20c1a8c","name":"ReplaceText","comments":"","position":{"x":1064.0,"y":728.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\n\t\"@context\": \"${AT_CONTEXT}\",\n\t\"id\": \"myspecial_sub_id:1234567\",\n\t\"type\": \"Subscription\",\n\t\"entities\": [\n\t\t$1\n\t],\n\t\"notification\": {\n\t\t\"endpoint\": {\n\t\t\t\"uri\": \"${NOTIFICATION_HOST}:${NOTIFICATION_PORT}/${NOTIFICATION_PATH}\",\n\t\t\t\"accept\": \"application/json\"\n\t\t}\n\t}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"9d42a62b-b252-329c-b503-e614f090bbb3","instanceIdentifier":"b61f62f8-cc18-3767-4a33-bac736e27129","name":"GenerateFlowFile","comments":"","position":{"x":232.0,"y":200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"620bf838-a2db-3460-adf5-807f3e18cd21","instanceIdentifier":"b627482b-122b-379f-b889-0fd288f291c8","name":"ListenHTTP","comments":"","position":{"x":896.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"${NOTIFICATION_PATH}","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"${NOTIFICATION_PORT}"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","instanceIdentifier":"dfa53240-73d2-366b-209e-16fc16c00ac3","name":"InvokeHTTP","comments":"","position":{"x":736.0,"y":184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/subscriptions","form-body-form-name":null,"Content-Type":"application/ld+json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","instanceIdentifier":"669e3070-5c5a-315b-204a-be6c063629b8","name":"LogMessage","comments":"","position":{"x":1280.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"}],"inputPorts":[],"outputPorts":[{"identifier":"00c06b2e-8245-316d-a97b-72fbba2f0412","instanceIdentifier":"454f7679-d420-3b0a-ea1b-1f4d347fd493","name":"NGSI-LD Notification Data","position":{"x":1464.0,"y":656.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"}],"connections":[{"identifier":"5059ad9c-ece9-3534-94c9-d465869bf283","instanceIdentifier":"a282ec18-ac52-3ee8-697a-a26e4dcc6d7a","name":"","source":{"id":"620bf838-a2db-3460-adf5-807f3e18cd21","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"ListenHTTP","comments":"","instanceIdentifier":"b627482b-122b-379f-b889-0fd288f291c8"},"destination":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f748a32a-b653-38ca-c63e-2a88479529bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"8ab9ba9e-f58a-302b-89c1-69e01e9b88a3","instanceIdentifier":"26e9ad6d-d654-3c5f-0c08-b8c76d0a527f","name":"","source":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f748a32a-b653-38ca-c63e-2a88479529bf"},"destination":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"NGSI-LD Notification Data","instanceIdentifier":"454f7679-d420-3b0a-ea1b-1f4d347fd493"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"521cc49f-a98c-3b41-bd16-8971c224f718","instanceIdentifier":"3b1863c3-6e1f-3ff2-81a3-fa04d0e4c96f","name":"","source":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"SplitContent","comments":"","instanceIdentifier":"e937f196-7187-330e-75a4-0189a695ca61"},"destination":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"ReplaceText","comments":"","instanceIdentifier":"d4c17f3e-f4f5-38a0-33a7-f844e1d3540b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"448e93b5-6177-3d7b-9a15-512f8a9d8424","instanceIdentifier":"0477013e-4392-3adb-9654-f65a45e5e2ab","name":"","source":{"id":"9d42a62b-b252-329c-b503-e614f090bbb3","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b61f62f8-cc18-3767-4a33-bac736e27129"},"destination":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"SplitContent","comments":"","instanceIdentifier":"e937f196-7187-330e-75a4-0189a695ca61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"b80f3ec5-87fc-32d0-807c-abed3e445ce5","instanceIdentifier":"b87f58a5-75fe-36a2-b98b-fe69f6b63fa6","name":"","source":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"ReplaceText","comments":"","instanceIdentifier":"d4c17f3e-f4f5-38a0-33a7-f844e1d3540b"},"destination":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"MergeContent","comments":"","instanceIdentifier":"bedbba7d-633d-3167-c5a1-b75a9dec306f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"eef6d023-01bf-36dc-9004-41acd6dfd4aa","instanceIdentifier":"594f7535-fda8-37fc-bb5b-201b7e7c99e2","name":"","source":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"InvokeHTTP","comments":"","instanceIdentifier":"dfa53240-73d2-366b-209e-16fc16c00ac3"},"destination":{"id":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"LogMessage","comments":"","instanceIdentifier":"669e3070-5c5a-315b-204a-be6c063629b8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"2064fc94-5e87-3ea8-9f7d-5224b9daa0f6","instanceIdentifier":"db96fff9-b27a-395c-d8f3-0165a91b0086","name":"","source":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"MergeContent","comments":"","instanceIdentifier":"bedbba7d-633d-3167-c5a1-b75a9dec306f"},"destination":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"ReplaceText","comments":"","instanceIdentifier":"a4da93f1-2b1c-3c8c-9659-bf52d20c1a8c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"},{"identifier":"984769e7-ec6a-34ca-97b6-c4f667e8bcdd","instanceIdentifier":"3ae00de7-ff78-3656-d943-561515b43c54","name":"","source":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"ReplaceText","comments":"","instanceIdentifier":"a4da93f1-2b1c-3c8c-9659-bf52d20c1a8c"},"destination":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"InvokeHTTP","comments":"","instanceIdentifier":"dfa53240-73d2-366b-209e-16fc16c00ac3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eebaea83-90d9-315c-a799-37198083f54e"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"}],"remoteProcessGroups":[],"processors":[{"identifier":"1624c8f8-f0d7-3cb0-a266-47e273d5c46f","instanceIdentifier":"de03bce6-3c9b-3f86-ffa5-7704e854a6fd","name":"LogMessage","comments":"","position":{"x":2962.2122400232342,"y":921.2718375035558},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"faca17c3-94ea-34c7-9ae8-45200b4b6b05","instanceIdentifier":"d0a811d6-0e12-3031-35eb-e35b62b0afe3","name":"Call FHIR endpoint","comments":"","position":{"x":3402.2122400232342,"y":921.2718375035558},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${HL7_HOST}/${fhir.resourceType}/${fhir.id}\n","form-body-form-name":null,"Content-Type":"application/fhir+json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"7a712f3b-c18a-3ba7-b6ea-a0d96a2848c9","instanceIdentifier":"115a416b-8087-3a1f-6f9d-73d88dbe75ca","name":"SplitJson","comments":"","position":{"x":3636.2122400232342,"y":1098.2718375035558},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"358e48bc-6bd6-30c4-9c9f-9982daca413b","instanceIdentifier":"fbfdad46-079b-3730-6404-117ad68b44f1","name":"EvaluateJsonPath","comments":"","position":{"x":2986.2122400232342,"y":1137.2718375035558},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-attribute","fhir.id":"$.id","Return Type":"json","Null Value Representation":"empty string","fhir.resourceType":"$.resourceType","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fhir.id":{"name":"fhir.id","displayName":"fhir.id","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"fhir.resourceType":{"name":"fhir.resourceType","displayName":"fhir.resourceType","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"62995212-fc42-333a-93a5-18185d3605b8","instanceIdentifier":"76ad72a9-b9d6-35bf-302e-97cc1501de66","name":"NGSI-LD to HL7 FHIR","comments":"","position":{"x":3578.2122400232342,"y":1345.2718375035558},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  def __init__(self):\n    pass\n\n  def getAttribute(self, value):\n    if type(value) == list:\n      result = []\n      for entry in value:\n        result.append(self.getAttribute(entry))\n    elif type(value) == dict:\n      result = {}\n      for key, value in value.items():\n        if key in ['type', 'createdAt', 'observedAt', 'modifiedAt']:\n          continue\n        if key in ['value', 'object']:\n          result['value'] = value\n        else:\n          result[key] = self.getAttribute(value)\n      if len(result) == 1:\n        result = result['value']\n      else:\n        if type(result['value']) == list:\n          tmp = result['value']\n          del result['value']\n          tmp.append(result)\n          result = tmp\n        elif type(result['value']) == dict:\n          tmp = result['value']\n          del result['value']\n          tmp.update(result)\n          result = tmp\n    else:\n      result = value\n    return result\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      newEntity = {}\n      for key, value in entity.items():\n        if key in ['id', 'type']:\n          newEntity[key] = value\n          continue\n        if key in ['observedAt', 'modifiedAt', 'createdAt']:\n          continue\n        newEntity[key] = self.getAttribute(value)\n      result.append(newEntity)  \n        \n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.error(str(e))\n#    log.error(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a458bdef-b5c0-3b69-beaf-6812234a0bcc","instanceIdentifier":"d502218c-1a0f-3afe-9dea-171bdd891cc8","name":"","source":{"id":"62995212-fc42-333a-93a5-18185d3605b8","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"76ad72a9-b9d6-35bf-302e-97cc1501de66"},"destination":{"id":"7a712f3b-c18a-3ba7-b6ea-a0d96a2848c9","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"SplitJson","comments":"","instanceIdentifier":"115a416b-8087-3a1f-6f9d-73d88dbe75ca"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"e47ab698-e9f1-3360-8edb-d2e6e6cdac89","instanceIdentifier":"cb6fbcea-2610-3d96-7b89-23f456008ab4","name":"","source":{"id":"7a712f3b-c18a-3ba7-b6ea-a0d96a2848c9","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"SplitJson","comments":"","instanceIdentifier":"115a416b-8087-3a1f-6f9d-73d88dbe75ca"},"destination":{"id":"358e48bc-6bd6-30c4-9c9f-9982daca413b","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fbfdad46-079b-3730-6404-117ad68b44f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"3929ffc0-a1c3-3f72-9f9e-d233ddad1bd5","instanceIdentifier":"97d61576-833d-308b-69ab-5be44fd584ab","name":"","source":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"eebaea83-90d9-315c-a799-37198083f54e","name":"NGSI-LD Notification Data","instanceIdentifier":"454f7679-d420-3b0a-ea1b-1f4d347fd493"},"destination":{"id":"62995212-fc42-333a-93a5-18185d3605b8","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"76ad72a9-b9d6-35bf-302e-97cc1501de66"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"521cf5eb-9b92-37c1-b0f9-ce9024af27eb","instanceIdentifier":"f10bc1ba-07a0-3b91-fc5d-0d702d24a3db","name":"","source":{"id":"358e48bc-6bd6-30c4-9c9f-9982daca413b","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fbfdad46-079b-3730-6404-117ad68b44f1"},"destination":{"id":"faca17c3-94ea-34c7-9ae8-45200b4b6b05","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"d0a811d6-0e12-3031-35eb-e35b62b0afe3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"},{"identifier":"a181c8c8-d1cb-3437-87ae-c8e95406f7c7","instanceIdentifier":"264d52c3-8ccd-3c2f-1b42-2b71e88cb386","name":"","source":{"id":"faca17c3-94ea-34c7-9ae8-45200b4b6b05","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"d0a811d6-0e12-3031-35eb-e35b62b0afe3"},"destination":{"id":"1624c8f8-f0d7-3cb0-a266-47e273d5c46f","type":"PROCESSOR","groupId":"3e06a40c-e274-3903-99d0-9c45b5531e80","name":"LogMessage","comments":"","instanceIdentifier":"de03bce6-3c9b-3f86-ffa5-7704e854a6fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e06a40c-e274-3903-99d0-9c45b5531e80"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}