sub2LiveSystem/NiFi_Flowliveupdate.json
{"flowContents":{"identifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a","instanceIdentifier":"6d419525-018c-1000-0c06-697a1c0b0844","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437","instanceIdentifier":"fb5f72ee-f8e5-3a35-ea07-02ba83abd4b7","name":"NGSI-LD Subscriptions","comments":"","position":{"x":494.0,"y":727.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"27e4e5f8-585a-35b1-a830-be0f3cf20252","instanceIdentifier":"0bff0512-a825-3805-82d5-023a470850fa","name":"EvaluateJsonPath","comments":"","position":{"x":1240.0,"y":280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","JsonPaths":"$.data","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPaths":{"name":"JsonPaths","displayName":"JsonPaths","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","instanceIdentifier":"25f596ea-de53-3465-067b-2c659802afdd","name":"SplitContent","comments":"","position":{"x":264.0,"y":432.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","instanceIdentifier":"37d751e9-984b-32d0-6507-89ba5d36febe","name":"ReplaceText","comments":"","position":{"x":272.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\"type\":\"$1\"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","instanceIdentifier":"343e2ef3-09c5-3ad6-99b4-433a5816a24a","name":"MergeContent","comments":"","position":{"x":336.0,"y":768.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"f10ef940-3e17-3703-b8ed-8131eb50e532","instanceIdentifier":"b6b9b9cb-07f0-38b2-87af-b27829621dc2","name":"ReplaceText","comments":"","position":{"x":1064.0,"y":728.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"([^ ]+)","Replacement Value":"{\n\t\"id\": \"myspecial_sub_id:1234567\",\n\t\"type\": \"Subscription\",\n\t\"entities\": [\n\t\t$1\n\t],\n\t\"notification\": {\n\t\t\"endpoint\": {\n\t\t\t\"uri\": \"${NOTIFICATION_HOST}:${NOTIFICATION_PORT}/${NOTIFICATION_PATH}\",\n\t\t\t\"accept\": \"application/json\"\n\t\t}\n\t}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","instanceIdentifier":"5096c10f-b3b4-3c30-8f1a-f0d8bdcb05c2","name":"InvokeHTTP","comments":"","position":{"x":736.0,"y":184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${NGSILD_HOST}/ngsi-ld/v1/subscriptions","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"9d42a62b-b252-329c-b503-e614f090bbb3","instanceIdentifier":"4852f91e-c6d0-32cc-3da0-a83879b723e8","name":"GenerateFlowFile","comments":"","position":{"x":232.0,"y":200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${ENTITY_TYPES}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"620bf838-a2db-3460-adf5-807f3e18cd21","instanceIdentifier":"b90f399a-cdce-3e6e-ab4d-a5b653d36fd3","name":"ListenHTTP","comments":"","position":{"x":896.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"${NOTIFICATION_PATH}","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"${NOTIFICATION_PORT}"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","instanceIdentifier":"a3b17eca-92c9-3b13-34cb-88e1467614a7","name":"LogMessage","comments":"","position":{"x":1280.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"inputPorts":[],"outputPorts":[{"identifier":"00c06b2e-8245-316d-a97b-72fbba2f0412","instanceIdentifier":"a8be0380-19cf-3777-10d9-1a2ed753e43f","name":"NGSI-LD Notification Data","position":{"x":1464.0,"y":656.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"connections":[{"identifier":"5059ad9c-ece9-3534-94c9-d465869bf283","instanceIdentifier":"46baf82e-36ba-319e-0565-06290e7fb572","name":"","source":{"id":"620bf838-a2db-3460-adf5-807f3e18cd21","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ListenHTTP","comments":"","instanceIdentifier":"b90f399a-cdce-3e6e-ab4d-a5b653d36fd3"},"destination":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0bff0512-a825-3805-82d5-023a470850fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"8ab9ba9e-f58a-302b-89c1-69e01e9b88a3","instanceIdentifier":"050f7c69-b5d7-3519-f229-5fb86a50bddf","name":"","source":{"id":"27e4e5f8-585a-35b1-a830-be0f3cf20252","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0bff0512-a825-3805-82d5-023a470850fa"},"destination":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"NGSI-LD Notification Data","instanceIdentifier":"a8be0380-19cf-3777-10d9-1a2ed753e43f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"448e93b5-6177-3d7b-9a15-512f8a9d8424","instanceIdentifier":"a6f96d59-bc3b-3092-5302-89ea8eb5bbf8","name":"","source":{"id":"9d42a62b-b252-329c-b503-e614f090bbb3","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4852f91e-c6d0-32cc-3da0-a83879b723e8"},"destination":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"SplitContent","comments":"","instanceIdentifier":"25f596ea-de53-3465-067b-2c659802afdd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"b80f3ec5-87fc-32d0-807c-abed3e445ce5","instanceIdentifier":"484563e1-62f2-32fd-d813-4cf36a0f32ee","name":"","source":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"37d751e9-984b-32d0-6507-89ba5d36febe"},"destination":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"MergeContent","comments":"","instanceIdentifier":"343e2ef3-09c5-3ad6-99b4-433a5816a24a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"521cc49f-a98c-3b41-bd16-8971c224f718","instanceIdentifier":"bd387d32-c8b1-3e00-61b6-23d0ff59d37c","name":"","source":{"id":"5082c2a8-e27c-3b27-9e5c-76b3f19e8786","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"SplitContent","comments":"","instanceIdentifier":"25f596ea-de53-3465-067b-2c659802afdd"},"destination":{"id":"7d97f867-c218-3d56-ae3e-38a1f5cbefda","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"37d751e9-984b-32d0-6507-89ba5d36febe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"eef6d023-01bf-36dc-9004-41acd6dfd4aa","instanceIdentifier":"76503e3b-ecc3-31ad-8f14-4675a48d0760","name":"","source":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"InvokeHTTP","comments":"","instanceIdentifier":"5096c10f-b3b4-3c30-8f1a-f0d8bdcb05c2"},"destination":{"id":"2d9d6ccc-a121-3c91-b674-26a4cea2d280","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"LogMessage","comments":"","instanceIdentifier":"a3b17eca-92c9-3b13-34cb-88e1467614a7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"2064fc94-5e87-3ea8-9f7d-5224b9daa0f6","instanceIdentifier":"04bcd4d8-dbb9-34d5-0b27-2fe0e90f7f8d","name":"","source":{"id":"e8f81b8c-95ea-3799-bc06-c63b76d2d791","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"MergeContent","comments":"","instanceIdentifier":"343e2ef3-09c5-3ad6-99b4-433a5816a24a"},"destination":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"b6b9b9cb-07f0-38b2-87af-b27829621dc2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"},{"identifier":"984769e7-ec6a-34ca-97b6-c4f667e8bcdd","instanceIdentifier":"01c49b06-7895-3e49-64be-bd56dca2349c","name":"","source":{"id":"f10ef940-3e17-3703-b8ed-8131eb50e532","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"ReplaceText","comments":"","instanceIdentifier":"b6b9b9cb-07f0-38b2-87af-b27829621dc2"},"destination":{"id":"1882950a-d3ae-37cd-97e0-bbfa5d644a92","type":"PROCESSOR","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"InvokeHTTP","comments":"","instanceIdentifier":"5096c10f-b3b4-3c30-8f1a-f0d8bdcb05c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93491341-5bcf-3f1a-9be2-21eeb11c7437"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"}],"remoteProcessGroups":[],"processors":[{"identifier":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","instanceIdentifier":"6b079c6e-7418-3fb7-fe8c-ed3e9e1453d7","name":"Apply ID mapping","comments":"","position":{"x":2120.0,"y":808.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport csv\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass ReplaceIds(StreamCallback):\n  \n  mapping = {}\n  \n  def __init__(self):\n    if os.path.isfile('/home/nifi/mapping.csv'):\n      log.warn('found mapping file')\n      with open('/home/nifi/mapping.csv') as csvfile:\n        readFile = csv.reader(csvfile, delimiter=';')\n        for row in readFile:\n          log.warn(str(row))\n          if row[0] in self.mapping:\n            self.mapping[row[0]].append([row[1], row[2]])\n          else:\n            self.mapping[row[0]] = [[row[1], row[2]]]\n      log.warn(str(self.mapping))\n        \n  def cleanValue(self, value):\n    log.warn('cleaning value')\n    log.warn('value type')\n    log.warn(str(type(value)))\n    if type(value) == str or type(value) == unicode:\n      log.warn('value is str')\n      value = value.replace(':', '_').replace('@', '_').replace('?', '_').replace('&', '_').replace('/', '_')\n    log.warn(str(value))\n    return value\n\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    if type(entities) != list:\n      entities = [entities]\n    mapping = self.mapping;\n    log.warn(str(mapping))\n    for entity in entities:\n      for key, value in mapping.items():\n        indexToCheck = []  \n        splittedKey = key.split('/')\n        for split in splittedKey:\n          toCheck = entity\n          for i in indexToCheck:\n            toCheck = toCheck[i]\n          if split.isnumeric():\n            log.warn('split is numeric')\n            log.warn(split)\n            split = int(split)\n          if type(toCheck) == dict:\n            if split in toCheck.keys():\n              indexToCheck.append(split)\n              tmp = toCheck[split]\n              if type(tmp) == dict and 'type' in tmp.keys():\n                if tmp['type'] == 'Property':\n                  indexToCheck.append('value')\n                elif tmp['type'] == 'Relationship':\n                  indexToCheck.append('object')\n            else:\n              indexToCheck = []\n              break\n          elif type(toCheck) == list and type(split) == int:\n            if len(toCheck) > split:\n              indexToCheck.append(split)\n            else:\n              indexToCheck = []\n              break\n          else:\n            indexToCheck = []\n            break\n        if len(indexToCheck) > 0:\n          toCheck = entity\n          length = len(indexToCheck)\n          log.warn('index to check')\n          log.warn(str(indexToCheck))\n          log.warn('value')\n          log.warn(str(value))\n          for mappings in value:\n            log.warn('mappings')\n            log.warn(str(mappings))\n            found = False\n            for i in range(length):\n              log.warn('i')\n              log.warn(str(i))\n              index = indexToCheck[i]\n              if i == length - 1:\n                log.warn('setting value')\n                if toCheck[index] == mappings[0]:\n                  found = True\n                  if mappings[1] != '':\n                    toCheck[index] = mappings[1]\n                  else:\n                    toCheck[index] = self.cleanValue(toCheck[index])\n                elif mappings[0] == '':\n                  toCheck[index] = self.cleanValue(toCheck[index])\n              else:\n                toCheck = toCheck[index]\n            if found:\n              break\n    log.warn('returning')\n    log.warn(json.dumps(entities, indent=4))\n    outputStream.write(bytearray(json.dumps(entities, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n  log.warn('asdasdasdasdasd')\n  flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  log.warn('asdasdasdasdasd')\n#  try:\n#  log.warn('asdasdasdasdasd')\n  tmp = ReplaceIds()\n  flowFile = session.write(flowFile, tmp)\n#  log.warn('asdasdasdasdasd')\n#  log.warn('asdasdasdasdasd')\n  flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n  session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"c095766a-273e-3b1a-b6eb-dcfaeb124893","instanceIdentifier":"a730e723-fce6-367e-7a59-874ea7ca8d32","name":"LogMessage","comments":"","position":{"x":1438.0,"y":471.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","instanceIdentifier":"6b665782-4cea-368a-c609-8829380de1c7","name":"EvaluateJsonPath","comments":"","position":{"x":1462.0,"y":687.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","fhir.id":"$.id","Return Type":"json","Null Value Representation":"empty string","fhir.resourceType":"$.resourceType","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fhir.id":{"name":"fhir.id","displayName":"fhir.id","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"fhir.resourceType":{"name":"fhir.resourceType","displayName":"fhir.resourceType","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","instanceIdentifier":"d87221dc-342a-3928-ecc9-c313f39190cf","name":"SplitJson","comments":"","position":{"x":2280.0,"y":448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"c40376cf-394f-3197-906d-d02057723fd6","instanceIdentifier":"aa227d06-0fbb-3c00-9f6b-aa88dbd580c8","name":"Call FHIR endpoint","comments":"","position":{"x":2024.0,"y":272.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${HL7_HOST}/${fhir.resourceType}/${fhir.id}\n","form-body-form-name":null,"Content-Type":"application/fhir+json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","instanceIdentifier":"429cb6b4-9e4e-3c8c-a6e8-3637d84ee898","name":"NGSI-LD to HL7 FHIR","comments":"","position":{"x":2080.0,"y":992.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nimport os\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.nifi.processors.script import ExecuteScript\nfrom org.python.core.util import StringUtil\n\nclass PutEntitiesInOneArray(StreamCallback):\n  forceArray = []\n  def __init__(self):\n    forceArrayStr = os.environ.get('FORCE_ARRAY', '')\n    self.forceArray = forceArrayStr.split(',')\n\n  def cleanKeys(self, subTmp):\n    if type(subTmp) == list:\n      result = []\n      for i in subTmp:\n        result.append(self.cleanKeys(subTmp))\n      return result\n    elif type(subTmp) == dict:\n      result = {}\n      for key, value in subTmp.items():\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        result[key] = self.cleanKeys(value)\n      return result\n    else:\n      return subTmp\n\n  def getAttribute(self, value, attribKey):\n    log.warn('attrib key: ' + attribKey)\n    log.warn('value: ' + str(value))\n    if type(value) == list:\n      result = []\n      for entry in value:\n        subTmp = self.getAttribute(entry, attribKey)\n        if subTmp:\n          result.append(subTmp)\n    elif type(value) == dict:\n      result = {}\n      for key, value in value.items():\n        log.warn('sub key: ' + key)\n        if not value:\n          log.warn('value is none')  \n        else:\n          log.warn('value: ' + str(value)) \n        if key in ['type', 'createdAt', 'observedAt', 'modifiedAt']:\n          log.warn('continue type ca oa ma')\n          continue\n        if key in ['value', 'object']:\n          log.warn('value found')\n          result['value'] = value\n        else:\n          log.warn('else ')\n          subTmp = self.getAttribute(value, key)\n          if subTmp:\n            result[key] = subTmp\n      if 'value' not in result.keys():\n        log.warn('value not in result')\n        log.warn(str(result))\n        return None\n      if len(result) == 1:\n        result = result['value']\n      else:\n        if type(result['value']) == list:\n          tmp = result['value']\n          del result['value']\n          tmp.append(result)\n          result = tmp\n        elif type(result['value']) == dict:\n          tmp = result['value']\n          del result['value']\n          tmp.update(result)\n          result = tmp\n    else:\n      result = value\n    if attribKey in self.forceArray and type(result) != list:\n      result = [result]\n    return result\n  def process(self, inputStream, outputStream):\n    # Read input stream as JSON object\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    entities = json.loads(text)\n    result = []\n    for entity in entities:\n      newEntity = {}\n      if 'resourceType' not in entity.keys():\n        entity['resourceType'] = {'type': 'Property', 'value': entity['type']}\n      for key, value in entity.items():\n        if key in ['id']:\n          newEntity[key] = value\n          continue\n        if key in ['observedAt', 'modifiedAt', 'createdAt', 'type']:\n          continue\n        key = key.split('/')[-1].split(':')[-1].split('#')[-1]\n        log.warn('calling from entity root with key ' + key)\n        subTmp = self.getAttribute(value, key)\n        if subTmp:\n          log.warn('before clean')\n          log.warn(str(subTmp))\n          subTmp = self.cleanKeys(subTmp)\n          log.warn('after clean')\n          log.warn(str(subTmp))\n          newEntity[key] = subTmp\n      result.append(newEntity)  \n        \n    outputStream.write(bytearray(json.dumps(result, indent=4).encode('utf-8'))) \n\nflowFile = session.get()\nif (flowFile != None):\n    flowfilenamebase = flowFile.getAttribute('filename').split('.')[0] + '_translated.json'\n#  try:\n    flowFile = session.write(flowFile, PutEntitiesInOneArray())\n    flowFile = session.putAttribute(flowFile, \"filename\", flowfilenamebase)\n    session.transfer(flowFile, REL_SUCCESS)\n#  except Exception as e:\n#    # Write error message to NiFi log\n#    log.warn(str(e))\n#    log.warn(\"Failed to process JSON file\")\n#    # Transfer flow file to failure relationship\n#    session.transfer(flowFile, REL_FAILURE)\nsession.commit()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"44914c43-a3f5-3677-aaf3-fbd262635323","instanceIdentifier":"ea136a40-bd19-36f9-34b3-6ce4778f2fd7","name":"","source":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"429cb6b4-9e4e-3c8c-a6e8-3637d84ee898"},"destination":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"Apply ID mapping","comments":"","instanceIdentifier":"6b079c6e-7418-3fb7-fe8c-ed3e9e1453d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"f2c0b9b4-a173-3eb2-a7ec-3b2bb98f26eb","instanceIdentifier":"617293bd-2006-386a-f817-3473f13b36e2","name":"","source":{"id":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b665782-4cea-368a-c609-8829380de1c7"},"destination":{"id":"c40376cf-394f-3197-906d-d02057723fd6","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"aa227d06-0fbb-3c00-9f6b-aa88dbd580c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"2d9f4579-c187-32f1-82dc-41c936cc5d55","instanceIdentifier":"2c241a08-3c8f-37f4-add6-a21974b9a00e","name":"","source":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"SplitJson","comments":"","instanceIdentifier":"d87221dc-342a-3928-ecc9-c313f39190cf"},"destination":{"id":"5c9d21bd-ae1c-394a-b53c-5fe9cdb4e81d","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b665782-4cea-368a-c609-8829380de1c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"f10f582f-0979-3519-a7f9-db5a1207e47a","instanceIdentifier":"84e73b81-f41a-3470-4909-5ff46dbfe3e5","name":"","source":{"id":"c40376cf-394f-3197-906d-d02057723fd6","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"Call FHIR endpoint","comments":"","instanceIdentifier":"aa227d06-0fbb-3c00-9f6b-aa88dbd580c8"},"destination":{"id":"c095766a-273e-3b1a-b6eb-dcfaeb124893","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"LogMessage","comments":"","instanceIdentifier":"a730e723-fce6-367e-7a59-874ea7ca8d32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"c5d12edb-0785-33c1-9c71-d55d75fcd0b5","instanceIdentifier":"e000b0f9-8b0f-3255-7bef-dc559c493e5c","name":"","source":{"id":"83e69090-3d02-3a08-ae8e-d7c5a52f18c7","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"Apply ID mapping","comments":"","instanceIdentifier":"6b079c6e-7418-3fb7-fe8c-ed3e9e1453d7"},"destination":{"id":"4c31aa1b-cb10-3d48-bdc3-ce139af2365f","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"SplitJson","comments":"","instanceIdentifier":"d87221dc-342a-3928-ecc9-c313f39190cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"},{"identifier":"e30962c7-6445-3237-8b8b-253a6aaa0e0e","instanceIdentifier":"2e8fb5a9-cc85-375f-0129-e43a72b8dcd3","name":"","source":{"id":"00c06b2e-8245-316d-a97b-72fbba2f0412","type":"OUTPUT_PORT","groupId":"93491341-5bcf-3f1a-9be2-21eeb11c7437","name":"NGSI-LD Notification Data","instanceIdentifier":"a8be0380-19cf-3777-10d9-1a2ed753e43f"},"destination":{"id":"285d89c3-2669-3dc6-bf70-cf91fe1d651b","type":"PROCESSOR","groupId":"b343c4e6-2d09-3bee-944f-888e6420fb0a","name":"NGSI-LD to HL7 FHIR","comments":"","instanceIdentifier":"429cb6b4-9e4e-3c8c-a6e8-3637d84ee898"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b343c4e6-2d09-3bee-944f-888e6420fb0a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}